{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>anslist</title>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
    <link rel="stylesheet" href='{% static "style.css" %}'>

<body>
    <main>
        </div>
        <!--MDB Cards-->
        <div class="container">
            <div class=" row justify-content-md-center">
                {% for i in data %}  
                <div class="col-sm-5"><br>
                    <div class="card mt-5">
                        <div class="view overlay hm-white-slight">
                            <img src="{{i.pic.url}}" height="500px" width="500px" class="img-fluid" alt="photo">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{i.qn}}</h4>
                            <h5 class="card-text">{{i.answer}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </main>
</body>
</html>

